exportPattern("^[[:alpha:]]+")
import(stringr)
import(xtable)
import(opencpu)
import(jsonlite)
import(rJava)
import(venneuler)
import(ggplot2)
import(statmod)
importFrom("graphics", "axis", "hist", "par", "plot")
importFrom("stats", "ks.test", "na.omit", "t.test", "wilcox.test")
importFrom("utils", "browseURL")